In [5]:
import pandas as pd

dataframe = pd.read_csv('pandas-sample-data.csv')

# Renomeação pós carregamento
dataframe.rename(columns={
    'ID_Curso': 'Código_Curso',
    'Instrutor': 'Nome_Instrutor',
    'AE': 'Assistente_Ensino',
    'Inscritos': 'Total_Inscritos',
    'Avaliacao': 'Média_Avaliação'
}, inplace=True)

print(dataframe.head())

  Código_Curso Nome_Instrutor Assistente_Ensino  Total_Inscritos  \
0        MT101      Ana Silva      Marcos Lopes             55.0
1        MT101    Bruno Gomes         Julia Vaz             43.0
2        MT102    Carlos Dias     Sofia Cardoso             60.0
3        MT102      Ana Silva    Rodrigo Mattos             58.0
4        MT102     Luiz Costa      Marcos Lopes              NaN

   Média_Avaliação
0              4.8
1              4.9
2              4.7
3              NaN
4              4.5

In [ ]:
# Alteração de nomes de colunas e index
dataframe.rename(columns=lambda x: x.lower().replace(" ", "_"), 
                 index=lambda i: 'linha_{}'.format(str(i)),
                 inplace=True)

print(dataframe)

         código_curso   nome_instrutor assistente_ensino  total_inscritos  \
linha_0         MT101        Ana Silva      Marcos Lopes             55.0
linha_1         MT101      Bruno Gomes         Julia Vaz             43.0
linha_2         MT102      Carlos Dias     Sofia Cardoso             60.0
linha_3         MT102        Ana Silva    Rodrigo Mattos             58.0
linha_4         MT102       Luiz Costa      Marcos Lopes              NaN
linha_5         MT103    Sandra Moraes      Pedro Mendes             47.0
linha_6         MT103      Bruno Gomes   Alice Gonçalves             50.0
linha_7         MT104      Carlos Dias         Julia Vaz             52.0
linha_8         MT104    Sandra Moraes       Paulo Souza             55.0
linha_9         FI101  Gabriel Ribeiro       Carla Souza             40.0
linha_10        FI101      Maria Clara     Sofia Cardoso             42.0
linha_11        FI102  Gabriel Ribeiro       Paulo Souza             39.0
linha_12        FI102   Roberta Vieira      Pedro Mendes             41.0
linha_13        FI103      Maria Clara   Alice Gonçalves             45.0
linha_14        FI103       Luiz Costa     Sofia Cardoso             48.0
linha_15        FI104   Roberta Vieira         Julia Vaz             50.0
linha_16        FI104        Ana Silva      Marcos Lopes             53.0
linha_17        HI101    Pedro Álvares       Carla Souza             44.0
linha_18        HI102    Sandra Moraes      Marcos Lopes             46.0
linha_19        HI103  Gabriel Ribeiro       Paulo Souza             49.0

          média_avaliação
linha_0               4.8
linha_1               4.9
linha_2               4.7
linha_3               NaN
linha_4               4.5
linha_5               4.6
linha_6               4.7
linha_7               4.4
linha_8               4.8
linha_9               4.9
linha_10              4.7
linha_11              4.6
linha_12              4.8
linha_13              4.6
linha_14              4.5
linha_15              4.7
linha_16              4.8
linha_17              4.5
linha_18              4.9
linha_19              4.6

In [ ]:
# Renomeação de colunas no momento da leitura
dataframe = pd.read_csv('pandas-sample-data.csv')
dataframe.columns = ['Código_Curso', 'Nome_Instrutor', 'Assistente_Ensino', 'Total_Inscritos', 'Média_Avaliação']
print(dataframe.head())

  Código_Curso Nome_Instrutor Assistente_Ensino  Total_Inscritos  \
0        MT101      Ana Silva      Marcos Lopes             55.0
1        MT101    Bruno Gomes         Julia Vaz             43.0
2        MT102    Carlos Dias     Sofia Cardoso             60.0
3        MT102      Ana Silva    Rodrigo Mattos             58.0
4        MT102     Luiz Costa      Marcos Lopes              NaN

   Média_Avaliação
0              4.8
1              4.9
2              4.7
3              NaN
4              4.5