In [36]:
import pandas as pd

dataframe = pd.read_csv('pandas-sample-data.csv')
dataframe.loc[(dataframe['ID_Curso'] == 'MT102') & (dataframe['Instrutor'] == 'Luiz Costa'), 'Inscritos'] = 59
print(dataframe)

   ID_Curso        Instrutor               AE  Inscritos  Avaliacao
0     MT101        Ana Silva     Marcos Lopes       55.0        4.8
1     MT101      Bruno Gomes        Julia Vaz       43.0        4.9
2     MT102      Carlos Dias    Sofia Cardoso       60.0        4.7
3     MT102        Ana Silva   Rodrigo Mattos       58.0        NaN
4     MT102       Luiz Costa     Marcos Lopes       59.0        4.5
5     MT103    Sandra Moraes     Pedro Mendes       47.0        4.6
6     MT103      Bruno Gomes  Alice Gonçalves       50.0        4.7
7     MT104      Carlos Dias        Julia Vaz       52.0        4.4
8     MT104    Sandra Moraes      Paulo Souza       55.0        4.8
9     FI101  Gabriel Ribeiro      Carla Souza       40.0        4.9
10    FI101      Maria Clara    Sofia Cardoso       42.0        4.7
11    FI102  Gabriel Ribeiro      Paulo Souza       39.0        4.6
12    FI102   Roberta Vieira     Pedro Mendes       41.0        4.8
13    FI103      Maria Clara  Alice Gonçalves       45.0        4.6
14    FI103       Luiz Costa    Sofia Cardoso       48.0        4.5
15    FI104   Roberta Vieira        Julia Vaz       50.0        4.7
16    FI104        Ana Silva     Marcos Lopes       53.0        4.8
17    HI101    Pedro Álvares      Carla Souza       44.0        4.5
18    HI102    Sandra Moraes     Marcos Lopes       46.0        4.9
19    HI103  Gabriel Ribeiro      Paulo Souza       49.0        4.6

In [37]:
# Imputar a média de inscritos nos cursos onde falta essa informação
dataframe['Inscritos'] = dataframe['Inscritos'].fillna(dataframe['Inscritos'].mean())
print(dataframe)

   ID_Curso        Instrutor               AE  Inscritos  Avaliacao
0     MT101        Ana Silva     Marcos Lopes       55.0        4.8
1     MT101      Bruno Gomes        Julia Vaz       43.0        4.9
2     MT102      Carlos Dias    Sofia Cardoso       60.0        4.7
3     MT102        Ana Silva   Rodrigo Mattos       58.0        NaN
4     MT102       Luiz Costa     Marcos Lopes       59.0        4.5
5     MT103    Sandra Moraes     Pedro Mendes       47.0        4.6
6     MT103      Bruno Gomes  Alice Gonçalves       50.0        4.7
7     MT104      Carlos Dias        Julia Vaz       52.0        4.4
8     MT104    Sandra Moraes      Paulo Souza       55.0        4.8
9     FI101  Gabriel Ribeiro      Carla Souza       40.0        4.9
10    FI101      Maria Clara    Sofia Cardoso       42.0        4.7
11    FI102  Gabriel Ribeiro      Paulo Souza       39.0        4.6
12    FI102   Roberta Vieira     Pedro Mendes       41.0        4.8
13    FI103      Maria Clara  Alice Gonçalves       45.0        4.6
14    FI103       Luiz Costa    Sofia Cardoso       48.0        4.5
15    FI104   Roberta Vieira        Julia Vaz       50.0        4.7
16    FI104        Ana Silva     Marcos Lopes       53.0        4.8
17    HI101    Pedro Álvares      Carla Souza       44.0        4.5
18    HI102    Sandra Moraes     Marcos Lopes       46.0        4.9
19    HI103  Gabriel Ribeiro      Paulo Souza       49.0        4.6

In [38]:
# Convertendo a coluna Inscritos de float para inteiros
dataframe['Inscritos'] = dataframe['Inscritos'].astype(int)

print(dataframe)

   ID_Curso        Instrutor               AE  Inscritos  Avaliacao
0     MT101        Ana Silva     Marcos Lopes         55        4.8
1     MT101      Bruno Gomes        Julia Vaz         43        4.9
2     MT102      Carlos Dias    Sofia Cardoso         60        4.7
3     MT102        Ana Silva   Rodrigo Mattos         58        NaN
4     MT102       Luiz Costa     Marcos Lopes         59        4.5
5     MT103    Sandra Moraes     Pedro Mendes         47        4.6
6     MT103      Bruno Gomes  Alice Gonçalves         50        4.7
7     MT104      Carlos Dias        Julia Vaz         52        4.4
8     MT104    Sandra Moraes      Paulo Souza         55        4.8
9     FI101  Gabriel Ribeiro      Carla Souza         40        4.9
10    FI101      Maria Clara    Sofia Cardoso         42        4.7
11    FI102  Gabriel Ribeiro      Paulo Souza         39        4.6
12    FI102   Roberta Vieira     Pedro Mendes         41        4.8
13    FI103      Maria Clara  Alice Gonçalves         45        4.6
14    FI103       Luiz Costa    Sofia Cardoso         48        4.5
15    FI104   Roberta Vieira        Julia Vaz         50        4.7
16    FI104        Ana Silva     Marcos Lopes         53        4.8
17    HI101    Pedro Álvares      Carla Souza         44        4.5
18    HI102    Sandra Moraes     Marcos Lopes         46        4.9
19    HI103  Gabriel Ribeiro      Paulo Souza         49        4.6

In [39]:
# Removendo a coluna 'AE' (Assistente de Ensino)

dataframe = dataframe.drop(columns=['AE'])
print(dataframe)

   ID_Curso        Instrutor  Inscritos  Avaliacao
0     MT101        Ana Silva         55        4.8
1     MT101      Bruno Gomes         43        4.9
2     MT102      Carlos Dias         60        4.7
3     MT102        Ana Silva         58        NaN
4     MT102       Luiz Costa         59        4.5
5     MT103    Sandra Moraes         47        4.6
6     MT103      Bruno Gomes         50        4.7
7     MT104      Carlos Dias         52        4.4
8     MT104    Sandra Moraes         55        4.8
9     FI101  Gabriel Ribeiro         40        4.9
10    FI101      Maria Clara         42        4.7
11    FI102  Gabriel Ribeiro         39        4.6
12    FI102   Roberta Vieira         41        4.8
13    FI103      Maria Clara         45        4.6
14    FI103       Luiz Costa         48        4.5
15    FI104   Roberta Vieira         50        4.7
16    FI104        Ana Silva         53        4.8
17    HI101    Pedro Álvares         44        4.5
18    HI102    Sandra Moraes         46        4.9
19    HI103  Gabriel Ribeiro         49        4.6

In [ ]:
# O método reset_index serve para reindexar o dataframe após a remoção de linhas
dataframe.reset_index(drop=True, inplace=True)
print(dataframe)

   ID_Curso        Instrutor               AE  Inscritos  Avaliacao
0     MT101        Ana Silva     Marcos Lopes       55.0        4.8
1     MT101      Bruno Gomes        Julia Vaz       43.0        4.9
2     MT102      Carlos Dias    Sofia Cardoso       60.0        4.7
3     MT102        Ana Silva   Rodrigo Mattos       58.0        NaN
4     MT102       Luiz Costa     Marcos Lopes        NaN        4.5
5     MT103    Sandra Moraes     Pedro Mendes       47.0        4.6
6     MT103      Bruno Gomes  Alice Gonçalves       50.0        4.7
7     MT104      Carlos Dias        Julia Vaz       52.0        4.4
8     MT104    Sandra Moraes      Paulo Souza       55.0        4.8
9     FI101  Gabriel Ribeiro      Carla Souza       40.0        4.9
10    FI101      Maria Clara    Sofia Cardoso       42.0        4.7
11    FI102  Gabriel Ribeiro      Paulo Souza       39.0        4.6
12    FI102   Roberta Vieira     Pedro Mendes       41.0        4.8
13    FI103      Maria Clara  Alice Gonçalves       45.0        4.6
14    FI103       Luiz Costa    Sofia Cardoso       48.0        4.5
15    FI104   Roberta Vieira        Julia Vaz       50.0        4.7
16    FI104        Ana Silva     Marcos Lopes       53.0        4.8
17    HI101    Pedro Álvares      Carla Souza       44.0        4.5
18    HI102    Sandra Moraes     Marcos Lopes       46.0        4.9
19    HI103  Gabriel Ribeiro      Paulo Souza       49.0        4.6